﻿@using System.Web.UI.WebControls
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Tweedehands Auto's", "Index", "Home", null, htmlAttributes: new { @class = "navbar-brand" })
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li @(ViewBag.PageId == "home" ? "class=active" : "")>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li @(ViewBag.PageId == "autos" ? "class=active" : "")>@Html.ActionLink("Auto's", "Index", "Autos")</li>
                    <li @(ViewBag.PageId == "myaccount" ? "class=active" : "")>@Html.Partial("_MyAccountPartial")</li>
                    <li @(ViewBag.PageId == "contact" ? "class=active" : "")>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </div>
        <!-- /.navbar-collapse -->
        <div class="container">
            <div class="center-block">
                @using (Html.BeginForm("Index", "Autos", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, htmlAttributes: new { @class = "search", @id = "searchForm" })) {
                    <div class="input-group">

                        @if (ViewBag.SearchTerm != null) {
                            @Html.TextBox("searchTerm", (string)ViewBag.SearchTerm, htmlAttributes: new { @type = "search", @class = "form-control", placeholder = "Audi A1, Citroën C6, BMW, sport...", name = "query" })

                        } else {
                            @Html.TextBox("searchTerm", null, htmlAttributes: new { @type = "search", @class = "form-control", placeholder = "Audi A1, Citroën C6, BMW, sport...", name = "query" })
                        }
                        
                          @if (ViewBag.Currentpage != null) {
                              @Html.Hidden("pageSearch", (object) ViewBag.Currentpage)
                          }

                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <!-- Render the rest of the page -->
    @RenderBody()

    <footer>
        <div class="row text-center">
            <hr />
            <p>
                &copy; 2014 Sam Van Den Berge &mdash; <a
                    href="http://www.samvandenberge.com">www.samvandenberge.com</a> &mdash; <a
                        href="mailto:sam.vandenberge1@kahosl.be">Contact</a>
            </p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)

</body>
</html>
