﻿@if (Request.IsAuthenticated) {
    <li>@Html.ActionLink(( "Welkom, " + (string)@ViewBag.UserAccount.firstname + " " + (string)@ViewBag.UserAccount.name), "Index", "Account")</li>  
    <li>@Html.ActionLink("Afmelden", "Logout", "Login")</li>
  
} else {
    <li>@Html.ActionLink("Log in", "Index", "Login", routeValues: null, htmlAttributes: new { id = "login" })</li>
}
