﻿@model Project2.Models.Project2_user.UserModel.LoginModel

@{
    ViewBag.Title = "Tweedehands auto's - Login";
}

<div class="container" id="login">
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active">Login</li>
    </ol>

    <div class="row" id="loginForm">
        <div class="col-xs-4 col-xs-push-4">
            
            @using (Html.BeginForm("Index", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, htmlAttributes: new { @class = "form" })) {
                <div class="form-group">
                    @Html.LabelFor(m => m.email)
                    @Html.TextBoxFor(m => m.email, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.password)
                    @Html.PasswordFor(m => m.password, htmlAttributes: new { @class = "form-control" })
                </div>                                                                              
                <div class="form-group">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary">Inloggen</button>
                    </div>
                </div>

                @Html.ValidationSummary(null, htmlAttributes: new { @class = "text-danger" })
            }
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-xs-push-4">
            <p>
                Nog geen account?
                @Html.ActionLink("Maak een account aan", "Register", "Login", null, htmlAttributes: new { @class = "btn-link" })
            </p>
        </div>
    </div>
</div>