﻿@using System.Activities.Expressions
@model Project2.Models.Project2_user.UserModel.RegisterModel


@{
    ViewBag.Title = "Tweedehands auto's - Register";
}

<div class="container" id="register">
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Login", "Index", "Login")</li>
        <li class="active">Register</li>
    </ol>

    <div class="row">
        <div class="col-xs-8 col-xs-push-2">
            
            @using (Html.BeginForm("Register", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, htmlAttributes: new { @class = "form" })) {
                <div class="row">
                    <div class="col-xs-6 form-group">
                        @Html.LabelFor(m => m.firstname)
                        @Html.TextBoxFor(m => m.firstname, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="col-xs-6 form-group">
                        @Html.LabelFor(m => m.name)
                        @Html.TextBoxFor(m => m.name, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 form-group">
                        @Html.LabelFor(m => m.email)
                        @Html.TextBoxFor(m => m.email, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>  
                <div class="row">
                    <div class="col-xs-6 form-group">
                        @Html.LabelFor(m => m.password)
                        @Html.PasswordFor(m => m.password, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="col-xs-6 form-group">
                        @Html.LabelFor(m => m.password2, "Herhaal wachtwoord*")
                        @Html.PasswordFor(m => m.password2, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div> 
                <div class="row">
                    <div class="col-xs-5 form-group">
                        @Html.LabelFor(m => m.address)
                        @Html.TextBoxFor(m => m.address, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="col-xs-5 form-group">
                        @Html.LabelFor(m => m.city)
                        @Html.TextBoxFor(m => m.city, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="col-xs-2 form-group">
                        @Html.LabelFor(m => m.postal_code)
                        @Html.TextBoxFor(m => m.postal_code, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>   
                <div class="row">
                    <div class="col-xs-6 form-group">
                        @Html.LabelFor(m => m.province)
                        @Html.DropDownListFor(m => m.province, Project2.Utils.ViewHelper.GetProvinces(), "Selecteer provincie...", htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="col-xs-6 form-group">
                        @Html.LabelFor(m => m.phone)
                        @Html.TextBoxFor(m => m.phone, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>                                                              
                <div class="row form-group">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary">Registreer</button>
                    </div>
                </div>

                @Html.ValidationSummary(null, htmlAttributes: new { @class = "text-danger" })
            }
        </div>
    </div>
</div>