/**
* ------------------------------------------------------------------------------------------------------
* Non-responsive overrides
* ------------------------------------------------------------------------------------------------------
*/

/* Reset the container */
.container {
    max-width: none !important;
    width: 970px;
}

    .container .navbar-header,
    .container .navbar-collapse {
        margin-right: 0;
        margin-left: 0;
    }

/* Always float the navbar header */
.navbar-header {
    float: left;
}

/* Undo the collapsing navbar */
.navbar-collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}

.navbar-toggle {
    display: none;
}

.navbar-collapse {
    border-top: 0;
}

.navbar-brand {
    margin-left: -15px;
}

/* Always apply the floated nav */
.navbar-nav {
    float: left;
    margin: 0;
}

    .navbar-nav > li {
        float: left;
    }

        .navbar-nav > li > a {
            padding: 15px;
        }

    /* Re-declare since we override the float above */
    .navbar-nav.navbar-right {
        float: right;
    }

/**
* ------------------------------------------------------------------------------------------------------
* Lightbox
* @see https://github.com/ashleydw/lightbox/blob/master/examples/index.html
* ------------------------------------------------------------------------------------------------------
*/

/* custom styling of the directional arrows */
.ekko-lightbox-container {
    position: relative;
}

.ekko-lightbox-nav-overlay {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

    .ekko-lightbox-nav-overlay a {
        opacity: 0;
        -webkit-transition: opacity 0.5s;
        -moz-transition: opacity 0.5s;
        -o-transition: opacity 0.5s;
        transition: opacity 0.5s;
        color: #fff;
        font-size: 30px;
        height: 100%;
        width: 49%;
        display: block;
        padding-top: 45%;
        text-shadow: 2px 2px 4px #000;
        filter: dropshadow(color=#000, offx=2, offy=2);
        z-index: 100;
    }

        .ekko-lightbox-nav-overlay a:empty {
            width: 49%; /* removes glyphicons :empty { width:1em } */
        }

.ekko-lightbox a:hover {
    opacity: 1;
    text-decoration: none;
}

.ekko-lightbox .glyphicon-chevron-left {
    padding-left: 15px;
    float: left;
    left: 0;
    text-align: left;
}

.ekko-lightbox .glyphicon-chevron-right {
    padding-right: 15px;
    float: right;
    right: 0;
    text-align: right;
}

/* use this to get your footer text left aligned - bootstraps modal default aligns them right */
.ekko-lightbox .modal-footer {
    text-align: left;
}


/**
* ------------------------------------------------------------------------------------------------------
* Bootstrap overrides
* ------------------------------------------------------------------------------------------------------
*/

body {
    overflow-x: hidden;
}

/* place right button after text */
.glyphicon-arrow-right:before {
    content: "";
}

.glyphicon-arrow-right:after {
    content: "\e092";
}

.breadcrumb {
    margin-bottom: 20px;
}

/**
* ------------------------------------------------------------------------------------------------------
* General
* ------------------------------------------------------------------------------------------------------
*/

.navbar-default {
    padding-bottom: 15px;
}

/* image size in tables */
#overview .img-thumbnail {
    min-width: 150px;
    width: 150px;
}

#myaccount .img-thumbnail {
    min-width: 150px;
    width: 150px;
}

.noResults {
    margin-top: 50px;
}

/**
* ------------------------------------------------------------------------------------------------------
* Home
* ------------------------------------------------------------------------------------------------------
*/

.jumbotron {
    text-align: center;
    background-color: transparent;
    margin-bottom: 0px;
}

    .jumbotron .btn-lg {
        font-size: 21px;
        padding: 14px 24px;
    }

    .jumbotron a {
        font-size: 24px;
    }

.highlight {
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: rgba(247, 247, 249, 0.16);
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}

#home ul {
    padding-left: 20px;
}

/**
* ------------------------------------------------------------------------------------------------------
* Overview
* ------------------------------------------------------------------------------------------------------
*/

.halfWidth {
    display: inline;
    width: 48%;
}

label {
    font-weight: normal;
}

#webapiImplementation {
    margin-bottom: 30px;
}

/*#tableWebApi tr {
    background-color: #dedede
}*/

/**
* ------------------------------------------------------------------------------------------------------
* My Account
* ------------------------------------------------------------------------------------------------------
*/

#account .btn-block {
    padding: 8px;
}

#account table {
    margin-top: 30px;
}

    #account table th {
        min-width: 135px;
    }

    #account table td {
        max-width: 150px;
    }

#account .img-thumbnail {
    width: 150px;
}

#account #newAdvertisement {
    margin-top: 20px;
}


#account #accountTable table {
    margin-top: 0px;
}

#account #accountTable th {
    min-width: 0;
}

#account #accountTable td {
    max-width: none;
}

#account .pull-left {
    margin-left: 5px;
}

/**
* ------------------------------------------------------------------------------------------------------
* Detail
* ------------------------------------------------------------------------------------------------------
*/

.equalHeigth {
    padding-top: 10px;
    height: 75px;
}

.text-success {
    font-size: 28px;
}

#AddOffer {
    margin-top: 15px;
}

.addthis_toolbox {
    margin-top: 20px;
}

#relatedResults {
    margin-top: 20px;
    margin-bottom: 20px;
}

/**
* ------------------------------------------------------------------------------------------------------
* Login
* ------------------------------------------------------------------------------------------------------
*/

#loginForm {
    margin-bottom: 15px;
}
