﻿<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welkom bij de Tweedehands Auto&lsquo;s web API!</h1>
            </hgroup>
            <em>De data is beschikbaar in zowel JSON als XML formaat</em>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <p>Navigeer naar <a href="~/api/Advertisements">/api/Advertisements</a> om een overzicht te krijgen van <b>alle zoekertjes</b>.</p>
        <p>Navigeer naar <a href="~/api/Advertisements?search=audi">/api/Advertisements?search=audi</a> om <b>te zoeken naar bepaalde zoekertjes</b>.</p>
    </section>
</div>
