﻿@model Project2.Models.AdvertisementModel

@{
    ViewBag.Title = "Tweedehands auto's - Account";
}

<div class="container" id="account_edit">
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Mijn Account", "Index", "Account")</li>
        <li class="active">Aanpassen &lsquo;@ViewBag.Advertisement.name&rsquo;</li>
    </ol>

    <div class="row">
        <div class="col-xs-8 col-xs-push-2">
            @using (Html.BeginForm("Edit", "Account", new { ReturnUrl = ViewBag.ReturnUrl, @id = ViewBag.Advertisement.id }, FormMethod.Post, htmlAttributes: new { @class = "form", enctype = "multipart/form-data" })) {
                
                <div class="row">
                    <div class="col-xs-12 form-group">
                        @Html.LabelFor(m => m.name)
                        @Html.TextBoxFor(m => m.name, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 form-group">
                        @Html.LabelFor(m => m.brand)
                        @Html.TextBoxFor(m => m.brand, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="col-xs-6 form-group">
                        @Html.LabelFor(m => m.carName)
                        @Html.TextBoxFor(m => m.carName, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 form-group">
                        @Html.LabelFor(m => m.price)
                        @Html.TextBoxFor(m => m.price, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="col-xs-2 form-group">
                        @Html.LabelFor(m => m.month)
                        @Html.TextBoxFor(m => m.month, htmlAttributes: new { @class = "form-control", @type = "number" })
                    </div>
                    <div class="col-xs-2 form-group">
                        @Html.LabelFor(m => m.year)
                        @Html.TextBoxFor(m => m.year, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="col-xs-4 form-group">
                        @Html.LabelFor(m => m.mileage)
                        @Html.TextBoxFor(m => m.mileage, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>  
                <div class="row">
                    <div class="col-xs-4 form-group">
                        @Html.LabelFor(m => m.fuel)
                        @Html.TextBoxFor(m => m.fuel, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="col-xs-4 form-group">
                        @Html.LabelFor(m => m.horsepower)
                        @Html.TextBoxFor(m => m.horsepower, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="col-xs-4 form-group">
                        @Html.LabelFor(m => m.cilinder_capacity)
                        @Html.TextBoxFor(m => m.cilinder_capacity, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>   
                <div class="row">
                    <div class="col-xs-4 form-group">
                        @Html.LabelFor(m => m.transmission)
                        @Html.TextBoxFor(m => m.transmission, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="col-xs-4 form-group">
                        @Html.LabelFor(m => m.color)
                        @Html.TextBoxFor(m => m.color, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="col-xs-4 form-group">
                        @Html.LabelFor(m => m.doors)
                        @Html.TextBoxFor(m => m.doors, htmlAttributes: new { @class = "form-control", @type = "number" })
                    </div>
                </div>    
                <div class="row">
                    <div class="col-xs-12 form-group">
                        @Html.LabelFor(m => m.description)
                        @Html.TextAreaFor(m => m.description, htmlAttributes: new { @class = "form-control", rows = "5" })
                    </div>
                </div> 
                <div class="row">
                    <div class="col-xs-12 form-group">
                        @Html.LabelFor(m => m.options)
                        @Html.TextAreaFor(m => m.options, htmlAttributes: new { @class = "form-control", rows = "5" })
                    </div>
                </div>  
                
                <div class="row">
                    <div class="col-xs-12 form-group">
                        <p><span class="text-danger">Opgelet:</span> wanneer u bv. alle 4 de foto's wil veranderen, moet u 4 nieuwe uploaden.</p>
                        <label for="file2">Thumnbnail:</label>
                        <input type="file" name="files" id="file1" />
                        <p class="help-block">Deze foto wordt getoont in het overzicht</p>
                        <label for="file2">Foto 1:</label>
                        <input type="file" name="files" id="file2" />
                        <p class="help-block">Deze foto wordt getoont op de detailpagina</p>
                        <label for="file2">Foto 2:</label>
                        <input type="file" name="files" id="file3" />
                        <p class="help-block">Deze foto wordt getoont op de detailpagina</p>
                        <label for="file2">Foto 3:</label>
                        <input type="file" name="files" id="file4" />
                        <p class="help-block">Deze foto wordt getoont op de detailpagina</p>
                    </div>
                </div>
                                                                         
                <div class="row form-group">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary">Aanpassen</button>
                    </div>
                </div>              
            }

            @Html.ValidationSummary(null, htmlAttributes: new { @class = "text-danger" })
        </div>
    </div>
</div>