﻿@{
    ViewBag.Title = "Tweedehands auto's - Account";
}

<div class="container" id="account">
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active">Mijn Account</li>
    </ol>
    <div class="row">
        <div class="col-xs-12">
            <h2>Mijn account</h2>
            @Html.ActionLink("Contactgegevens aanpassen", "Info", "Account", null, htmlAttributes: new { @class = "btn btn-default" })
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <h2>Mijn zoekertjes</h2>
        </div>
        <div class="col-xs-6" id="newAdvertisement">
            @Html.ActionLink("Nieuw zoekertje", "New", "Account", null, htmlAttributes: new { @class = "btn btn-success pull-right" })
        </div>
    </div>
    <div class="row">
        <!-- content -->
        <div class="col-xs-12">
            @if (ViewBag.Advertisements != null) {
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Naam</th>
                            <th>Aantal biedingen</th>
                            <th>Hoogste bod</th>
                            <th>laatst aangepast</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var ad in ViewBag.Advertisements) {
                            <tr class="clickableRow">
                                <td>
                                    @if (@ad.GetThumbnail() != null) {
                                        <a href="@Url.Action("Edit", "Account", new { @id = ad.id })">
                                            <img src="~/Content/img/@ad.id/@ad.GetThumbnail().name" class="img-thumbnail" alt="thumbnail">
                                        </a>
                                    } else {
                                        <a href="@Url.Action("Edit", "Account", new { @id = ad.id })">
                                            <img src="~/Content/img/dummy.jpg" class="img-thumbnail" alt="thumbnail">
                                        </a>
                                    }
                                </td>
                                <td>@ad.name</td>
                                <td>@ad.GetOffers().Count</td>
                                <td>
                                    @if (@ad.GetOffers().Count > 0) {
                                        @ad.GetHighestOffer().ToString("N0") @Html.Raw(" &euro;") 
                                    }
                                </td>
                                <td>@ad.last_edited.ToString("dd/MM/yyyy HH:mm:ss")</td>
                                <td>
                                    <p>@Html.ActionLink(" Aanpassen", "Edit", "Account", new { @id = ad.id }, htmlAttributes: new { @class = "btn btn-block btn-info glyphicon glyphicon-edit" })</p>
                                    <p>@Html.ActionLink(" Verwijderen", "Delete", "Account", new { @id = ad.id }, htmlAttributes: new { @class = "btn btn-block btn-danger glyphicon glyphicon-remove avdDelete" })</p>

                                    @if (@ad.GetOffers().Count > 0) {
                                        <!-- Button trigger modal -->
                                        <a class="btn btn-primary btn-block" data-toggle="modal" data-target="#@("myModal" + @ad.id)">Toon biedingen</a>    
     
                                        <div class="modal fade" id="@("myModal" + @ad.id)" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        @Html.ActionLink("x", "Index", "Account", null, htmlAttributes: new { @class = "closeModel" })
                                                        <h4 class="modal-title" id="myModalLabel">Biedingen voor @ad.name</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <table class="table table-striped bidings" id="accountTable">
                                                            <thead>
                                                                <tr>
                                                                    <th>Bod</th>
                                                                    <th>Bieder</th>
                                                                    <th>Emailadres</th>
                                                                    <th>Datum</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var offer in @ad.GetOffers()) {
                                                                    <tr>
                                                                        <td>@offer.price.ToString("N0")&euro;</td>
                                                                        <td>@offer.name</td>
                                                                        <td><a href="@offer.email">@offer.email</a></td>
                                                                        <td>@offer.timestamp.Date.ToString("dd/MM/yyyy")</td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="modal-footer">
                                                        @Html.ActionLink("Close", "Index", "Account", null, htmlAttributes: new { @class = "btn btn-default" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </td>
                            </tr>    
                        }
                    </tbody>
                </table>
            }

            @if (ViewBag.Advertisements == null) {
                <p><em>U hebt nog geen zoekertjes geplaatst</em></p>
                <p>@Html.ActionLink("Plaats nu een zoekertje", "New", "Account", null)</p>
            }
        </div>
    </div>
</div>
