﻿@{
    ViewBag.Title = "Tweedehands auto's - Contact";
}
<div class="container" id="contact">
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active">Contact</li>
    </ol>

    <div class="row">
        <div class="col-xs-12">
            <h2>Heeft u een vraag?</h2>
            <p>Voor informatie of vragen kan u ons steeds contacteren op ons emailadres: <a href="mailto:sam.vandenberge1@kahosl.be">sam.vandenberge1@kahosl.be</a></p>
        </div>
    </div>
</div>