﻿@{
    ViewBag.Title = "Tweedehands auto's - Home";
}
<div class="container" id="home">

    <div class="jumbotron">
        <h1>Verkoop uw wagen!</h1>
        <p class="lead">In enkele ogenblikken kan u uw wagen gratis te koop stellen op onze website.</p>
        <p>@Html.ActionLink("Registreer nu", "Register", "Login", null, htmlAttributes: new { @class = "btn btn-lg btn-success" })</p>

        <p class="text-muted">Of</p>
        <p>@Html.ActionLink("Bekijk en koop een wagen zonder in te loggen", "Index", "Autos", null, htmlAttributes: new { @class = "btn-link" })</p>
    </div>

    <div class="row col-xs-8 highlight col-xs-offset-2">
        <div class="col-xs-5">
            <h3>Populaire merken</h3>
            <ul>
                <li>
                    @Html.ActionLink("Audi", "Index", "Autos", new { brand = "Audi", page = "1", filter = "filter" }, null)
                </li>
                <li>
                    @Html.ActionLink("BMW", "Index", "Autos", new { brand = "BMW", page = "1", filter = "filter" }, null)
                </li>
                <li>
                    @Html.ActionLink("Volvo", "Index", "Autos", new { brand = "Volvo", page = "1", filter = "filter" }, null)
                </li>
            </ul>
        </div>
        <div class="col-xs-5 col-xs-offset-2">
            <h3>Volgens provincie</h3>
            <ul>
                <li>
                    @Html.ActionLink("Oost-Vlaanderen", "Index", "Autos", new { province = "Oost-Vlaanderen", page = "1", filter = "filter" }, null)
                </li>
                <li>
                    @Html.ActionLink("Limburg", "Index", "Autos", new { province = "Limburg", page = "1", filter = "filter" }, null)
                </li>
                <li>
                    @Html.ActionLink("West-Vlaanderen", "Index", "Autos", new { province = "West-Vlaanderen", page = "1", filter = "filter" }, null)
                </li>
            </ul>
        </div>
    </div>
</div>
