﻿@{
    Layout = null;
}

@Styles.Render("~/Content/css")

<!DOCTYPE html>
<html>
<head>
    <title>Tweedehands auto&lsquo;s - error</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- Bootstrap -->
    <!-- <link href="css/bootstrapmin.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet" />-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <![endif]-->
</head>
<body>

    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Tweedehands Auto's", "Index", "Home", null, htmlAttributes: new { @class = "navbar-brand" })
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Auto's", "Index", "Autos")</li>
                <li>@Html.Partial("_MyAccountPartial")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
    <div class="container">
        <div class="row text-center">
            <div class="col-xs-12">

                <div class="page-header">
                    <h1>Whoops!</h1>
                </div>
                <p>
                    Er is een onbekende fout opgetreden.<br />
                    Onze excuses hiervoor.
                </p>
                <p>U kan terugkeren naar de @Html.ActionLink("home pagina", "Index", "Home")</p>
            </div>
        </div>

        <footer>
            <div class="row text-center">
                <hr />
                <p>
                    &copy; 2014 Sam Van Den Berge &mdash; <a
                        href="http://www.samvandenberge.com">www.samvandenberge.com</a> &mdash; <a
                            href="mailto:sam.vandenberge1@kahosl.be">Contact</a>
                </p>
            </div>
        </footer>
    </div>
</body>
</html>
