﻿@model Project2.Models.OfferModel


@{
    ViewBag.Title = "Tweedehands auto's - Detail";
}

<div class="container" id="detail">
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Auto's", "Index", "Autos")</li>
        <li class="active">@ViewBag.Car.name</li>
    </ol>

    <h2>@ViewBag.Car.name</h2>
    <div class="row">
        <!-- Photo's, only show this when there are photo's -->
        @if (ViewBag.Photos != null) {
            <div class="col-xs-6">
                <a href="~/Content/img/@ViewBag.Advertisement.id/@ViewBag.photos[0].name" data-type="image" data-toggle="lightbox" data-gallery="multiimages">
                    <img src="~/Content/img/@ViewBag.Advertisement.id/@ViewBag.photos[0].name" class="img-thumbnail img-responsive">
                </a>
                <div class="row center-block">
                    <div class="row">
                        @foreach (var photo in ViewBag.Photos) {
                            <!-- The first photo is already shown above -->
                            if (photo != ViewBag.Photos[0]) {
                            <a href="~/Content/img/@ViewBag.Advertisement.id/@photo.name" data-type="image" data-toggle="lightbox" data-gallery="multiimages" class="col-xs-4">
                                <img src="~/Content/img/@ViewBag.Advertisement.id/@photo.name" class="img-thumbnail img-responsive equalHeigth">
                            </a>
                            }
                        }
                    </div>
                </div>
            </div>
        }

        <!-- User + offers -->
        <div class="col-xs-6">
            <h4>Adverteerder: <a href="mailto: @ViewBag.User.email?Subject=Tweedehands%20auto">@ViewBag.User.firstname @ViewBag.User.name</a>
            </h4>
            <em>Laatst aangepast: @ViewBag.Advertisement.last_edited.Date.ToString("dd/MM/yyyy")</em>
            <p class="text-success">@ViewBag.Advertisement.price.ToString("N0") &euro;</p>

            @using (Html.BeginForm("Detail", "Autos", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, htmlAttributes: new { @class = "form", @id = "AddOffer" })) {
                <div class="row">
                    <div class="col-xs-6 form-group">
                        @Html.TextBoxFor(m => m.name, htmlAttributes: new { @class = "form-control", @placeholder = "Naam" })
                    </div>
                    <div class="col-xs-6 form-group">
                        @Html.TextBoxFor(m => m.email, htmlAttributes: new { @class = "form-control", @placeholder = "Email" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 form-group">
                        @Html.TextBoxFor(m => m.price, htmlAttributes: new { @class = "form-control", @placeholder = "Bedrag in €" })
                    </div>

                    <div class="col-xs-6 form-group">
                        <button type="submit" class="btn btn-block btn-primary btn-block">Plaats bod</button>
                    </div>
                </div>    
            }
            <div class="row">
                @Html.ValidationSummary(null, htmlAttributes: new { @class = "text-danger" })
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Bod</th>
                        <th>Bieder</th>
                        <th>Datum</th>
                    </tr>
                </thead>
                @if (ViewBag.Offers != null) {
                    <tbody>
                        @foreach (var offer in ViewBag.Offers) {
                            <tr>
                                <td>@offer.price.ToString("N0") &euro;</td>
                                <td>@offer.name</td>
                                <td>@offer.timestamp.Date.ToString("dd/MM/yyyy")</td>
                            </tr>
                        }
                    </tbody>
                }
            </table>
            @if (ViewBag.Offers == null) {
                <p><em>Er is nog geen bod.</em></p>
            }
        </div>
    </div>

    <!-- social buttons/shares -->
    <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
        <a class="addthis_button_preferred_1"></a>
        <a class="addthis_button_preferred_2"></a>
        <a class="addthis_button_preferred_3"></a>
        <a class="addthis_button_preferred_4"></a>
        <a class="addthis_button_compact"></a>
        <a class="addthis_counter addthis_bubble_style"></a>
    </div>
    <script type="text/javascript">var addthis_config = { "data_track_addressbar": true };</script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52bf04991f1ba365"></script>
    <!-- social buttons/shares END -->

    <div class="row">
        <!-- Specifications -->
        <div class="col-xs-6">
            <h3>Kenmerken</h3>
            <dl class="dl-horizontal">
                <dt>Merk</dt>
                <dd>@ViewBag.Car.brand</dd>
                <dt>Type</dt>
                <dd>@ViewBag.Car.name</dd>
                <dt>Bouwjaar</dt>
                <dd>@ViewBag.Car.year.Date.ToString("MM/yyyy")</dd>
                <dt>Brandstof</dt>
                <dd>@ViewBag.Car.fuel</dd>
                <dt>Afgelegde kilometers</dt>
                <dd>@ViewBag.Car.mileage km</dd>
                <dt>Kleur</dt>
                <dd>@ViewBag.Car.color</dd>
                <dt>Aantal deuren</dt>
                <dd>@ViewBag.Car.doors</dd>
                <dt>Transmissie</dt>
                <dd>@ViewBag.Car.transmission</dd>
                <dt>Paardenkracht</dt>
                <dd>@ViewBag.Car.horsepower pk</dd>
                <dt>Cilinderinhoud</dt>
                <dd>@ViewBag.Car.cilinder_capacity cm³</dd>
            </dl>
        </div>

        <!-- description + options -->
        <div class="col-xs-6">
            <h3>Beschrijving</h3>
            @ViewBag.Car.description

            <h3>Opties</h3>
            @ViewBag.Car.options
        </div>
    </div>
    @if (ViewBag.RelatedAdvertisements != null) {
        <h3>Gerelateerde aanbiedingen</h3>
        <div class="row" id="relatedResults">
            @foreach (var related in ViewBag.RelatedAdvertisements) {
                <div class="col-xs-4">
                    @Html.ActionLink((string)related.name, "Detail", "Autos", new { @id = related.id }, null)
                </div>
            }
        </div>
    }
    <div class="row">
        @Html.ActionLink(" Overzicht", "Index", "Autos", null, htmlAttributes: new { @class = "btn btn-lg btn-default glyphicon glyphicon-arrow-left" })
        @if (ViewBag.Next != null) {
            @Html.ActionLink("Volgende ", "Detail", "Autos", new { @id = ViewBag.Next.id }, htmlAttributes: new { @class = "btn btn-lg btn-default glyphicon glyphicon-arrow-right pull-right" })
        }
    </div>
</div>
