﻿@using System.Web.UI.WebControls
@using MvcPaging
@using Project2.Models
@using Project2.Utils
@model Project2.Models.FilterModel

@{
    ViewBag.Title = "Tweedehands auto's - Overzicht";
}

<div class="container" id="overview">
    <ol class="breadcrumb">
         <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active">Auto's</li>
    </ol>
    <div class="row">
        <div class="col-xs-3">

            @using (Html.BeginForm("Index", "Autos", new { ReturnUrl = ViewBag.ReturnUrl, SearchModel = Model }, FormMethod.Get, htmlAttributes: new { @id = "filterForm" })) {
                <div class="form-group">
                    @Html.Label("Merk")
                    @Html.DropDownListFor(m => m.brand, new SelectList(ViewBag.Brands, ViewBag.Brands), "Selecteer merk...", htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.Label("Prijs:")
                    <div class="list-inline">
                        @Html.TextBoxFor(m => m.priceMin, htmlAttributes: new { @class = "form-control halfWidth", placeholder = "van" })
                        @Html.TextBoxFor(m => m.priceMax, htmlAttributes: new { @class = "form-control halfWidth", placeholder = "tot" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Kilometerstand:")
                    <div class="list-inline">
                        @Html.TextBoxFor(m => m.mileageMin, htmlAttributes: new { @class = "form-control halfWidth", placeholder = "van" })
                        @Html.TextBoxFor(m => m.mileageMax, htmlAttributes: new { @class = "form-control halfWidth", placeholder = "tot" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Bouwjaar:")
                    <div class="list-inline">
                        @Html.TextBoxFor(m => m.yearMin, htmlAttributes: new { @class = "form-control halfWidth", placeholder = "van" })
                        @Html.TextBoxFor(m => m.yearMax, htmlAttributes: new { @class = "form-control halfWidth", placeholder = "tot" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Provincie")
                    @Html.DropDownListFor(m => m.province, new SelectList(ViewBag.Provinces, ViewBag.Provinces), "Selecteer provincie...", htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.Label("Kleur")
                    @Html.DropDownListFor(m => m.color, new SelectList(ViewBag.Colors, ViewBag.Colors), "Selecteer kleur...", htmlAttributes: new { @class = "form-control" })

                </div>
                <div class="form-group">
                    @Html.Label("Brandstof")
                    @Html.DropDownListFor(m => m.fuel, new SelectList(ViewBag.Fuels, ViewBag.Fuels), "Selecteer brandstof...", htmlAttributes: new { @class = "form-control" })

                </div>
                <div class="form-group">
                    @Html.Label("Transmissie")
                    @Html.DropDownListFor(m => m.transmission, new SelectList(ViewBag.Transmissions, ViewBag.Transmissions), "Selecteer transmissie...", htmlAttributes: new { @class = "form-control" })

                </div>
                <div class="form-group">
                    @Html.Label("Aantal deuren")
                    @Html.DropDownListFor(m => m.doors, new SelectList(ViewBag.Doors, ViewBag.Doors), "Selecteer aantal deuren...", htmlAttributes: new { @class = "form-control" })
                </div>
                
                @Html.Hidden("page", (object)ViewBag.Currentpage)
                @Html.Hidden("filter", (object)ViewBag.FilterMethod)

                <div class="form-group">
                    <button type="submit" id="searchBtn" class="btn btn-primary btn-block">
                        <span class="glyphicon glyphicon-search"></span>&nbsp;Filter
                    </button>
                </div>
            }
        </div>

        <!-- content -->
        <div class="col-xs-9">
            @if (ViewBag.Filtered != null) {
                <p>@Html.ActionLink("Toon alle zoekertjes", "Index", "Autos")</p>
            }

            @if (ViewBag.Advertisements != null) {
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>&nbsp</th>
                            <th>Prijs</th>
                            <th>Naam</th>
                            <th>Plaats</th>
                            <th>Bouwjaar</th>
                            <th>Km</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (Project2.Models.Project2_advertisement ad in ViewBag.Advertisements) {
                            <tr class="clickableRow" href="@Url.Action("Detail", "Autos", new { @id = ad.id })" >
                                <td>
                                    @if (@ad.GetThumbnail() != null) {
                                        <a href="@Url.Action("Detail", "Autos", new { @id = ad.id })">
                                            <img src="~/Content/img/@ad.id/@ad.GetThumbnail().name" class="img-thumbnail" alt="thumbnail">
                                        </a>
                                    } else {
                                        <a href="@Url.Action("Detail", "Autos", new { @id = ad.id })">
                                            <img src="~/Content/img/dummy.jpg" class="img-thumbnail" alt="thumbnail">
                                        </a> 
                                    }
                                </td>
                                <td>@ad.price.ToString("N0")&euro;</td>
                                <td>@ad.name</td>
                                <td>@ad.GetUser().city</td>
                                <td>@ad.GetCar().year.Date.ToString("MM/yyyy")</td>
                                <td>@ad.GetCar().mileage</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }

            @if (ViewBag.Advertisements == null) {
                <div class="text-center noResults">
                    @if (ViewBag.SearchTerm != null && ViewBag.SearchTerm != "") {
                        <p><em>Er konden geen zoekertjes gevonden worden voor <b id="searchTerm">@ViewBag.SearchTerm</b>.</em></p>
                    } else {
                        <p><em>Er konden geen zoekertjes gevonden worden.</em></p>
                    }
                    <p>@Html.ActionLink("Toon alle zoekertjes", "Index", "Autos")</p>
                </div>
            }
        </div>
    </div>

    <div class="row">
        <div class="pager">
            @Html.Raw(Html.Pager(
                new Options {
                    PageSize = Project2_advertisement.ADVERTISEMENTS_PER_PAGE,
                    TotalItemCount = ViewBag.TotalItemCount,
                    CurrentPage = ViewBag.Currentpage,
                    ItemTexts = new ItemTexts() { Next = "Next", Previous = "Previous" },
                    ItemIcon = new ItemIcon() { First = "icon-backward", Previous = "icon-chevron-left", Next = "icon-chevron-right", Last = "icon-forward" },
                    TooltipTitles = new TooltipTitles() { Next = "Next page {0}", Previous = "Previous page {0}", Page = "Go to page {0}" },
                    Size = Size.normal,
                    Alignment = Alignment.centered,
                    IsShowControls = true,
                    IsShowFirstLast = true,
                    IsShowPages = true
                }, new { test = ViewBag.PreservedGetParameters }))
        </div>
    </div>

    <div class="row" id="webapiImplementation">
        <div class="col-xs-9 col-xs-offset-3">
            <h4>Gelijkaardige resultaten van <a href="http://arnedeproft.ikdoeict.net/Project2">&lsquo;2ebands&rsquo;</a></h4>
            <table class="table table-striped table-hover" id="tableWebApi">
                <thead>
                    <tr>
                        <th>&nbsp</th>
                        <th>Prijs</th>
                        <th>Naam</th>
                        <th>Plaats</th>
                        <th>Bouwjaar</th>
                        <th>Km</th>
                    </tr>
                </thead>
                <tbody id="results">
                </tbody>
            </table>
        </div>
    </div>
</div>
